/***************/
/* GENERAL CSS */
/***************/

#body_bg {
	border-bottom: 1px solid #222;
}
#body_left {
	background: transparent url(../images/all/fill_left.png) 0 0 repeat-y;
}
#body_right {
	background: transparent url(../images/all/fill_right.png) 100% 0 repeat-y;
}

ul.links li {
	border-left: 1px solid #2c2c2c; /* LTR */
}
.divider {
	border-left: 1px dashed #222; /* LTR */
}
.node.teaser {
	border-bottom: 1px dashed #222;
}
.submitted, .links {
	color: #666;
}
.comment {
	border: 1px solid #2c2c2c;
}
.comment .title {
	background: transparent url(../images/all/icon-comment.png) left center no-repeat; /* LTR */
}
.messages {
	background: #111;
	border: 1px solid #333;
}
.form-item label, .item-list .title {
	color: #ddd;
}
#site-slogan {
	color: #888;
}
#mission {
	color: #acacac;
	border: solid 1px #222;
}
#breadcrumb, #breadcrumb a {
	color: #888 !important;
}
#footer, #footer a {
	color: #999;
}
#footer ul.links li {
	border-left: 1px solid #6f6f6f;
}
.by, .by a, .by a:hover {
	color: #333 !important;
}
#aggregator .feed-source {
	background: #111;
	border: 1px solid #333;
}
#forum td.forum, #forum td.posts {
	background: #111;
}
#forum td.topics, #forum td.last-reply {
	background: #222;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
	border: 1px solid #444;
}
#forum td.container {
	background: #0f0f0f url(../images/all/forum-container.jpg) right top no-repeat; /* LTR */
}
#forum td.container .name a {
	background: transparent url(../images/all/forum-link.png) left center no-repeat;
}
#profile .profile {
	border: 1px solid #543;
}

/* MENU & link STYLES */

ul li.leaf {
	list-style-image: url(../images/all/menu-leaf.png);
}
ul li.expanded {
	list-style-image: url(../images/all/menu-expanded.png);
}
ul li.collapsed {
	list-style-image: url(../images/all/menu-collapsed.png); /* LTR */
}

#submenu a {
	border: 1px solid #222;
	color: #888 !important;
	background: #111;
}
#submenu li a:hover {
	background: #242424;
}
#menu2 a {
	color: #999 !important;
}
#menu2 a:hover {
	color: #777 !important;
}
#footer a:hover {
	color: #777;
}

/* MODULE SPECIFIC STYLES */

.book-navigation .page-links {
	border-top: 1px dashed #2c2c2c;
	border-bottom: 1px dashed #2c2c2c;
}
.cart-block-title-bar .arrow-up {
	background: transparent url(../images/all/menu-up.png) no-repeat center center !important;
}
.cart-block-title-bar .arrow-down {
	background: transparent url(../images/all/menu-expanded.png) no-repeat center center !important;
}
.category-grid-products table	{
	border-top: 1px dashed #222 !important;
	border-left: 1px dashed #222 !important;
}
.category-grid-products td {
	border-right: 1px dashed #222 !important;
	border-bottom: 1px dashed #222 !important;
	background: transparent !important;
}


/****************/
/* GRAPHICS CSS */
/****************/

#top_bg {
	background: transparent url(../images/protostar/fill_top.png) 0 100% repeat-x;
}
#top_left {
	background: transparent url(../images/protostar/fill_top_left.png) 0 100% no-repeat;
}
#top_right {
	background: transparent url(../images/protostar/fill_top_right.png) 100% 100% no-repeat;
}

h1, h2, h3 {
	color: #005a84;
}

a, a:link,
.title, .title a,
.node .terms,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
.admin-panel .description {
	color: #005a84;
}
a:hover, li a.active {
	color: #777;
}

.block.themed-block {
	background: #000 url(../images/protostar/fill_block.png) 0 100% repeat-x;
	border: 1px solid #222;
}


/* pure forms */

.pure-button {
	color: #bbb;
	color: rgba(255, 255, 255, 0.80);
	border: 1px solid #666;
	background-color: #191919;
}
#edit-preview.pure-button {
	background-color: #D3EDA3;
	color: #000;
}
#edit-delete.pure-button {
	background-color: #F5AB9E;
	color: #000;
}
.pure-button-selected,
a.pure-button-selected {
	background-color: #555;
	color: #000;
}
.pure-form input,
.pure-form select,
.pure-form textarea {
	border: 1px solid #333 !important;
	box-shadow: inset 0 1px 3px #222 !important;
	background-color: #111;
}
.pure-form input:focus,
.pure-form select:focus,
.pure-form textarea:focus {
	border-color: #ED6015;
}
.pure-form select {
	border: 1px solid #333;
}
.pure-form legend {
	color: #ccc;
	border-bottom: 1px solid #1a1a1a;
}
.resizable-textarea .grippie {
	background-color: #111;
	border-color: #222;
}

/* Dropdown */

.menu-toggle {
	background: #191919;
	border: 1px solid #333;
	border-bottom: none;
}
.menu-toggle .bars {
	background: #888;
}

.pure-menu-heading {
	color: #005a84;
}
.pure-menu-link {
	color: #fff !important;
	background: #005a84;
}
.pure-menu-link:hover,
.pure-menu-link:focus {
	background: #407697;
}
.pure-menu-children .pure-menu-link {
	background: #457fa2;
	border-left: 1px solid #4987ab;
	border-top: 1px solid #4987ab;
	border-right: 1px solid #005a84;
	border-bottom: 1px solid #005a84;
}
.pure-menu-children a:hover,
.pure-menu-children a:focus {
	background: #3f7494;
}


@media screen and (max-width: 48em) {
	.pure-menu-link, .pure-menu-children,
	.pure-menu-children .pure-menu-link {
		border: none;
		color: #005a84 !important;
		background: none;
	}
	.pure-menu-link:hover,
	.pure-menu-link:focus,
	.pure-menu-children a:hover,
	.pure-menu-children a:focus {
		background: #191919;
	}
	.menuband {
		min-height: 2.3em;
		border-bottom: 1px solid #222;
	}
	.pure-menu-list {
		background: #000;
	}
}