html, body { direction: rtl; }
th { text-align: right; }

.comment .title {
	padding: 10px 19px 12px 0;
	background: transparent url(../images/all/icon-comment_rtl.png) right center no-repeat !important;
}
#header #search-block-form input[type=image].pure-button,
.comment .new {
	float: left;
}
.by {
	left: 0;
	text-align: left;
}
.node .user-picture, .comment .user-picture {
	float: left;
	padding: 0 .5em .5em 0;
}
blockquote {
  padding: 0 .5em 0 0;
	border-left: none;
	border-right: 4px solid #aaa;
}
#search-block-form input[type="text"],
.logoimg {
	float: right;
}
#top-elements {
	float: left;
	text-align: left;
}
.divider {
	border-left: none !important;
	border-right: 1px dashed #222;
}
#forum td.container { background: #0f0f0f url(../images/all/forum-container_rtl.jpg) left top no-repeat !important; }
#forum td.container .name a {
	padding: 10px 40px 10px 0;
	background: transparent url(../images/all/forum-link_rtl.png) right center no-repeat !important;
}
html.js fieldset.collapsible .fieldset-legend {
	padding-right: 1.7em;
}
.page-admin-appearance-settings .fieldset-wrapper {
	margin: 0 1em 0 0;
}

/* MENU & link STYLES */
ul li.collapsed {
	list-style-image: url(../images/all/menu-collapsed_rtl.png) !important;
}
ul.links li {
	border-left: none !important;
	border-right: 1px solid #2c2c2c;
}
.pure-menu-heading {
	float: right;
}
.menu-toggle {
	float: left;
	margin: 0 0 0 10px;
}
.menu-toggle .bars {
	right: .5em;
}
.pure-menu-link {
	text-align: right;
}
.pure-menu-children .pure-menu-children {
	left: auto;
	right: 100%;
}
.pure-menu-has-children > .pure-menu-link:after {
	margin: 0 0 0 -.8em !important;
	padding-left: 0;
	padding-right: .5em;
}
.pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after {
	content: "\25C2";
}


/* ROUNDED CORNERS */
.rnd .pure-paginator .first .pure-button {
	border-radius: 0px 6px 6px 0px;
	}
.rnd .pure-paginator .last .pure-button {
	border-radius: 6px 0px 0px 6px;
}


/* BLOCK ICONS */
.bi32 .block-icon, .bni32 .block-icon {
	margin: -5px -5px 0 0;
}
.bi48 .block-icon, .bni48 .block-icon {
	margin: -15px -18px 0 0;
}
.bi32 .themed-block .title, .bi48 .themed-block .title,
.bni32 .themed-block .title, .bni48 .themed-block .title {
	text-align: left;
	padding: 6px 28px 6px 6px;
}


/* PAGE ICONS */
.pi .book_printer, .pi .book_mail, .pi .book_pdf {
	margin: 0 5px 0 0;
	padding: 0 25px 0 0;
}
.pi .book_printer {
	background: url(../images/all/icons/printer.png) no-repeat 97% center;
}
.pi .book_mail {
	background: url(../images/all/icons/email.png) no-repeat 97% center;
}
.pi .book_pdf {
	background: url(../images/all/icons/pdf.png) no-repeat 97% center;
}
.pi .field-type-taxonomy-term-reference {
	background: url(../images/all/icons/tag.png) no-repeat right top;
	padding: 0 20px 0 0;
}
.pi .region-sidebar-first a.active, .pi .region-sidebar-second a.active {
	background: url(../images/all/icons/check_rtl.png) no-repeat left center;
	padding-left: 20px !important;
	padding-right: 0;
}
.pi .region-sidebar-first .block-title a.active , .pi .region-sidebar-second .block-title a.active	{
	padding-left: 0 !important;
}
.pi li.comment-approve a {
	background: url(../images/all/icons/check_rtl.png) no-repeat left center;
	padding: 0 20px 0 0;
}
.pi .comment-add a {
	background: url(../images/all/icons/comment.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .comment-comments a {
	background: url(../images/all/icons/comments.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment-delete a {
	background: url(../images/all/icons/trash.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment-edit a {
	background: url(../images/all/icons/edit.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment-reply a {
	background: url(../images/all/icons/reply.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .book_add_child a {
	background: url(../images/all/icons/page-add.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .node-readmore a {
	background: url(../images/all/icons/read_more_rtl.png) no-repeat right center;
	padding: 0 17px 0 0; /* LTR */
}
.pi .more-link a {
	background: url(../images/all/icons/more_rtl.png) no-repeat right -1px;
	padding: 0 20px 0 0;
}
.pi .blog_usernames_blog a,
.pi #block-system-user-menu li.first, .pi li.uin {
	background: url(../images/all/icons/user_green.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi #block-system-user-menu li.last, .pi li.uout {
	background: url(../images/all/icons/key_delete.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi li.ulog, .pi li.comment_forbidden a {
	background: url(../images/all/icons/key_add.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi li.ureg {
	background: url(../images/all/icons/user-multiple.png) no-repeat right center;
	padding: 0 20px 0 4px;
}


@media screen and (max-width: 64em) {
	.pure-menu-allow-hover:hover > .pure-menu-children {
		right: 0;
		padding: 0 1em 0 0;
	}
	.logomob {
		float: right;
		margin: -0.4em 0 0 .3em;
	}
}
