/**************/
/* THEMER CSS */
/**************/

/* The below lines only help the theme to look better :)*/

ul.links li {
	border-left: 1px solid #2c2c2c; /* LTR */
}
.divider {
	border-left: 1px dashed #222; /* LTR */
}
a:hover, li a.active {
	color: #551A8B;
}


/* MENU & link STYLES */

#submenu a {
	border: 1px solid #222;
	color: #777 !important;
	background: #333;
}
#submenu li a:hover {
	background: #dbdbdb;
}
#menu2 a {
	color: #999 !important;
}
#menu2 a:hover {
	color: #777 !important;
}
#footer, #footer a {
	color: #999;
}
#footer a:hover {
	color: #777;
}
.by, .by a, .by a:hover {
	color: #777 !important;
}


/* Dropdown */

.menu-toggle {
	background: #191919;
}
.menu-toggle .bars {
	background: #888;
}

.pure-menu-heading {
	color: #aaa;
}
.pure-menu-link {
	background: #333;
	border: 1px solid #303030;
}


@media screen and (max-width: 48em) {
	.pure-menu-link, .pure-menu-children,
	.pure-menu-children .pure-menu-link {
		border: none;
		background: none;
	}
	.menuband {
		min-height: 2.3em;
	}
}