/********************/
/* CUSTOM STYLE CSS */
/********************/
/* 
Place your custom CSS and CSS overrides in this file, after renaming it to 
'custom-style.css'.

Steps for customizing your theme:
1. Incorporate your custom CSS into this file.
2. Uncomment various examples below and adjust the data to your preferences.
3. Clear cached data at /admin/config/development/performance or use 
   "Flush all caches" in the Admin Menu, then press CTRL+F5.
*/



/* Erase or comment the lines below to get rid of the image in the right sidebar and the brand image at the bottom */
#middlecontainer {
	background: transparent url(../images/all/_sidebarimg.png) 99% 99% no-repeat;
}
#brand {
	background: url(../images/all/_brand.png) 50% 0 no-repeat;
	margin: 0 auto;
	height: 50px;
}


/***********************/
/* CHANGE DEFAULT FONT */
/***********************/
/*
html, .pure-g [class*="pure-u"] {
	font-family: Verdana, Helvetica;
}
html {
	line-height: 1.25;
}
p:first-of-type:first-letter {
	font-size: 200%;
}*/


/************************/
/* CHANGE LOGO POSITION */
/************************/
/*
.logoimg {
	padding: .5em 1em;
}*/


/**********************/
/* ROUND USER PICTURE */
/**********************/
/*
.user-picture img {
	border-radius: 100% !important;
}*/


/**********************************/
/* IMAGE POSITION for ALL CONTENT */
/**********************************/
.field-item .pure-img {
	float: left; /* LTR */
	margin: .6em .6em .6em 0; /* LTR */
}


/***********************************/
/* IMAGE POSITION per CONTENT TYPE */
/***********************************/
/*
.node-type-book .field-item .pure-img {
	float: right;
	margin: .6em 0 .6em .6em;
}
.node-type-blog .field-item .pure-img {
	float: right;
	margin: .6em 0 .6em .6em;
}*/


/*************************/
/* DROP DOWN ADJUSTMENTS */
/*************************/

/* no dropdown shadows */
/*
.pure-menu-children {
	box-shadow: none;
}*/

/* big arrows */
/*
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
	content: "\25BC";
}
.pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after {
	content: "\25B6";
}*/


/**************************/
/* INDIVIDUAL MENU COLORS */
/**************************/
/* Uncomment the following lines to have different colors for menu items. 
 * Change the values below accordingly: XXX=menu item number; YYY=color. */

/* Individual menu item */
/*
.menu-XXX {
	background: #YYY;
}*/

/* First/last menu item */
/*
.first.pure-menu-link {
	background: #YYY;
}*/

/* Middle menu items */
/*
.pure-menu-link {
	background: #YYY;
}*/

/* Children color */
/*
.pure-menu-children .pure-menu-link {
	color: #YYY !important;
	background: YYY;
}*/


/******************************/
/* HIDE some TITLES, READMORE */
/******************************/
/* Uncomment the first declaration below to hide all titles on the front page 
 * Addapt the second declaration to hide a certain title on the frontpage. 
 * Third one is for no "Read more" on the front page. */ 
/*
.front #main h2.title a {	display: none; }
.front #main #node-XXX h2.title a {	display: none; }
.front .node-readmore {	display: none; }
*/


/*******************************/
/* UPDATE ICONS FOR NEW BLOCKS */
/*******************************/
/* where ID is the block id */

/*
#ID .block-icon {
	background: transparent url(../images/all/icons/blocks/icon_24_48.png) no-repeat;
}
*/


/*************************/
/* USER BLOCKS ALIGNMENT */
/*************************/
/*
#section1 .block {
	min-height: 250px;
}*/


/*************************/
/* CENTERED BLOCK IMAGES */
/*************************/
/*
.block img {
	margin: auto;
}*/


/*************/
/* SLIDESHOW */
/*************/
/* Centered text */
/*
.txww {
	text-align: center;
}*/
/* min height on mobiles */
#slider img {
	min-height: 10em;
}
/* Images animation */
/*
#slider img {
	animation-name: zoom;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}
@keyframes zoom {
	0% {transform: scale(1)}
	50% {transform: scale(1.15)}
	100% {transform: scale(1)}
}*/


/************************/
/* OTHER SOCIAL NETWORK */
/***********************/
#soclinks .myother { 
	background: transparent url(myother-social-network_32.png) no-repeat scroll center center;
}


/***********************/
/* CHANGE HEADER IMAGE */
/***********************/
/* Deactivate the image rotator in theme's settings, put your new image in the _custom folder and uncomment the lines below */
/*
.himg #headimg, #headimg {
	background: #000 url(YOUR_IMAGE.png) no-repeat 100% 100%;
}*/


/*****************************/
/* VIEWS BLOCK - STYLE: GRID */
/*****************************/

.view8b {
	height: 100%;
	margin: 0 1em;
}
.view8b .views-field-title a {
	font-weight: bold;
	/*text-transform: uppercase;*/
	/*color: #900;*/
}
.view8b .image {
	margin-bottom: 1em;
}
.view8c {
	padding-top: 1em;
	margin-bottom: 1em;
}
/* https://www.canva.com/learn/100-color-combinations/ */
/* .view-tag-XXX */ .view8b.col-1 {
	border-bottom: 5px solid #c09; /* pink */
}
/* .view-tag-XXX */ .view8b.col-2 {
	border-bottom: 5px solid #390; /* green */
}
/* .view-tag-XXX */ .view8b.col-3 {
	border-bottom: 5px solid #f60; /* orange */
}
/* .view-tag-XXX */ .view8b.col-4 {
	border-bottom: 5px solid #069; /* blue */
}


/**********************************/
/* CHANGES MENU TOGGLE BARS COLOR */
/**********************************/
/*
.menu-toggle .bars {
	background: #900;
}*/


/************************************************/
/* Alternate node backgrounds on homepage/lists */
/************************************************/
/*
.node:nth-child(2n+2){
	background: #111;
	padding: .5em;
}*/



/*** MEDIA SCREENS (35.5, 48 & 64em) ***/

@media screen and (max-width: 64em) {
/* HEADER IMAGE */
/* You can change images rotator with a static image like "mobi-dot.png" or 
   "mobi-sq.png", use your own, or simply none. */
	.himg #headimg, #headimg {
		/*background: #000 url(../images/all/mobi-dotn.png) repeat;*/
		background: none;
	}
}

@media screen and (max-width: 35.5em) {
	.field-item:last-child .pure-img {
		float: none;
	}
}



/*************************************/
/* Sidebars' blocks adaptive display */
/*************************************/
@media screen and (max-width: 64em) {
	#sidebar-left .block-wrapper,
	#sidebar-right .block-wrapper {
		width: 48%;
		padding: 0 1.5% 0 0;
		display: inline-block;
		vertical-align: top;
	}
}
@media screen and (max-width: 48em) {
	#sidebar-left .block-wrapper,
	#sidebar-right .block-wrapper {
		width: 100%;
		padding: 0;
		display: block;
	}
}
